.container {
  max-width: 100%;
  max-height: 100%;
}

.fr {
  float: right;
}

button {
  color: white;
  font-size: 12px;
  text-align: center;

  display: inline-block;
  cursor: pointer;

  border: none;
  padding: 8px 16px;
  margin: 6px 2px;
  border-radius: 4px;
}

select {
  width: 200px;
  height: 28px;
  border-radius: 4px;
  background: #f5f5f5;
}

.btn-g {
  background-color: #1abc9c;
}

.btn-g:hover {
  background-color: #16a085;
}

.btn-b {
  background-color: #3498db;
}

.btn-b:hover {
  background-color: #2980b9;
}

.btn-o {
  background-color: #e67e22;
}

.btn-o:hover {
  background-color: #d35400;
}

.btn-p {
  background-color: #9b59b6;
}

.btn-p:hover {
  background-color: #8e44ad;
}

.btn-r {
  background-color: #ff6b81;
}

.btn-r:hover {
  background-color: #ff4757;
}

.btn-d {
  background-color: #34495e;
}

.btn-d:hover {
  background-color: #2f3542;
}

.disable {
  background: #a4b0be;
  cursor: not-allowed;
  pointer-events: none;
}

.mirror {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}
